body {
    margin: 0;
}

.panel > div {
    width: 600px;
    margin: 0 auto;
}

.primary-header {
    background-color: purple;
}

.primary-header nav {
    display: flex;
    justify-content: space-between
}

.primary-header nav .left {
    background-color: yellow;
}

.primary-header nav .right {
    background-color: blue;
}

.primary-content-wrap {
    display: flex;
    background-color: red;
}

aside {
    width: 200px;
    background-color: lightskyblue;
}

main {
    flex: 1;
    background-color: green;
}

