body {
    background-color: tan;
    margin: 0;
}

.panel > div {
    width: 600px;
    margin: 0 auto;
}

.primary-content-wrap {
    display: flex;
    background-color: red;
}

aside {
    width: 200px;
    background-color: lightskyblue;
}

main {
    flex: 1;
    background-color: green;
}

